@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

/* ? ==========Global============================ */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
.salam {
  font-family: "Fredoka One", cursive;
}

strong {
  color: #82a116;
  font-weight: 700;
}
/* ? ==========End Global======================== */

/* ? ==========Navbar============================ */
nav {
  height: 10vh;
}

.navbar .container {
  width: 100%;
}

.navbar img {
  width: 80px;
}

.nav-item {
  font-family: "Fredoka One", cursive;
  border-bottom: 1px #faf9f7 solid;
}

.nav-item:hover {
  color: #e4b569;
}

.nav-item:last-child {
  border-bottom: 0 !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #333;
}

.navbar-light .navbar-nav .nav-link.active {
  border-left: 0.25rem solid #82a116;
}

.navbar-nav .nav-link {
  padding-left: 1rem;
}

.navbar-collapse {
  width: 100px;
  padding-top: 1rem;
  background: #faf9f7;
  position: relative;
  z-index: 3;
}
/* ? ==========End Navbar======================== */

/* ? ==========Landing Page Section============== */
#landing {
  height: 90vh;
  width: 100%;
  position: relative;
  background: url("https://source.unsplash.com/MGUmEYvGNUU") no-repeat center
    center/cover;
}

#landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(240, 240, 240, 0.5);
}

#landing .showcase {
  position: relative;
  z-index: 1;
  background-color: rgba(240, 240, 240, 0.9);
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 1.5rem;
}

#landing .showcase .salam {
  font-size: 1.2rem;
}

#landing .showcase h1 {
  font-size: 2rem;
}

#landing .showcase p {
  font-size: 1rem;
  font-weight: 400;
}

#landing .showcase a {
  background: #82a116;
  color: #333;
  font-weight: 700;
}
/* ? ==========End Landing Page Section========== */

/* ? =========Tentang Kami Section=============== */
#tentang-kami {
  position: relative;
  background: #e2cfa2;
}

#tentang-kami .showcase {
  margin: 0 auto;
  width: 90%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tentang-kami .showcase h2 {
  order: 1;
  margin: 0;
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem 0 1.5rem;
  text-align: center;
}

#tentang-kami .showcase .section-text {
  order: 3;
}

#tentang-kami .showcase .section-text h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #82a116;
  padding: 1.5rem 0 1rem;
}

#tentang-kami .showcase .section-text p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
}

#tentang-kami .showcase .section-text p i {
  color: rgb(250, 0, 0);
}

#tentang-kami .showcase .section-image {
  position: relative;
  order: 2;
  width: 100%;
}

#tentang-kami .showcase .section-image img {
  width: 100%;
}

/* ? =========End Tentang Kami Section=========== */

/* ? =========Produk Section===================== */
#produk {
  position: relative;
  background: #faf9f7;
}

#produk .showcase {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 1.5rem 1rem;
}

#produk .showcase h2 {
  margin: 0;
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem 0 1.5rem;
}

#produk .showcase h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #82a116;
  padding: 1rem 0;
}

#produk .showcase p {
  font-size: 1rem;
  font-weight: 400;
}

#produk .showcase .card-title {
  font-family: "Fredoka One", cursive;
  font-size: 1.2rem;
}

#produk .showcase .card-subtitle {
  font-size: 1rem;
  font-weight: 400;
}

#produk .showcase .card-text {
  text-align: justify;
  font-size: 0.8rem;
  font-weight: 400;
}

#produk .showcase .card-text strong {
  color: #333;
  font-size: 0.9rem;
}
/* ? =========End Produk Section================= */
